.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  overflow-y: auto;
}

// Mobile Styles
@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
